[submodule "path_to_submodule"] 
  path = react/reactprod 
  url = https://github.com/fsotelos/reactprod/
[submodule "vue/vueprod"]
	path = vue/vueprod
	url = https://github.com/fsotelos/vueprod/
[submodule "angularprod"]
	path = angularprod
	url = https://github.com/fsotelos/angularprod.git
	branch = main
